## <center>CSCI E-82</center>
## <center>HW 1  Dimensionality Reduction</center>
### <center>Due: Sept 17, 2018 11:59pm EST</center>

#### Note that this is an individual homework to be completed without collaborations except through Piazza.  

#### We encourage you to make progress this weekend since the second homework will likely come out in a week before this one is due.

### Your name:

PAUL M. WASHBURN

### Problem 1   (5 points)

$$\mathbf{X} = \left[\begin{array}
{rrr}
1 & 2 & 3 \\
4 & 5 & 6 \\
7 & 8 & 9
\end{array}\right]
$$

$$\mathbf{Y} = \left[\begin{array}
{rrr}
1 & 2 & 1 \\
2 & 1 & 2  
\end{array}\right]
$$

Compute XY<sup>T</sup>.  The answer can be computed by hand and written in Markdown like the above matrices, or computed in python.  Either way is acceptable.

In [2]:
import numpy as np
import pandas as pd

In [76]:
X = np.arange(1, 10).reshape(3, 3)
Y = np.array([[1, 2, 1], [2, 1, 2]])
np.matmul(X, Y.T)

array([[ 8, 10],
       [20, 25],
       [32, 40]])

In [77]:
np.dot(X, Y.T)

array([[ 8, 10],
       [20, 25],
       [32, 40]])

### Problem 2  

This problem goes through a combination of python data manipulations as well as the full math projection using PCA.  We have divided the problem into multiple parts.

### Problem 2a  (5 points)

Download and load in the data set from the UCI archive https://archive.ics.uci.edu/ml/machine-learning-databases/ecoli/.  Print the dimensions and the first few rows to demonstrate a successful load.

In [37]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/ecoli/ecoli.data'
colnames = ['sequence_name', 'mcg', 'gvh', 'lip', 'chg', 'aac', 'alm1', 'alm2', 'target']
df = pd.read_fwf(url, header=None)
df.rename(columns=dict(zip(np.arange(0, 10), colnames)), inplace=True)

print('rows = %i, columns = %i' %(df.shape[0], df.shape[1]))
df.head()

rows = 336, columns = 9

  sequence_name   mcg   gvh   lip  chg   aac  alm1  alm2 target
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35     cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44     cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46     cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36     cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35     cp

### Problem 2b  (10 points)
Compute and print the covariance matrix for all columns excluding the first and last.  Rather than use the built-in function, compute this using python code for practice.  The following equation will suffice for this.

Cov(X, Y) = Î£ ( Xi - X ) ( Yi - Y ) / N

In [150]:
def cov_xy(m, y):
    '''
    Submit vectors as 1D arrays
    '''
    X = np.concatenate((m[:,np.newaxis], y[:,np.newaxis]), axis=1)
    N = X.shape[0] - 1
    X -= X.mean(axis=0)
    C = (np.dot(X.T, X.conj()) / N).squeeze()
    return C

def cov_matrix(df, cols):
    '''
    Returns covariance matrix with column names
    '''
    # create empty dataframe with variance on the diagonals
    cov_df = pd.DataFrame(np.diag(df[cols].var()), columns=cols, index=cols)

    # populate cov_df empty dataframe with covariances
    for X in cols:
        for Y in cols:
            # we already have the variances, so ignore when X == Y
            if X != Y:
                # populate empty dataframe with symmetrical value
                _cov = cov_xy(df[X], df[Y])[0, 1]
                cov_df.loc[Y, X] =  _cov
            else:
                pass
    return cov_df

cols = ['mcg', 'gvh', 'lip', 'chg', 'aac', 'alm1', 'alm2']
cov_matrix(df, cols)

           mcg       gvh       lip       chg       aac      alm1      alm2
mcg   0.037882  0.013115  0.002529  0.000373  0.005257  0.016670  0.006810
gvh   0.013115  0.021950  0.000574  0.000075  0.001266  0.005546 -0.003729
lip   0.002529  0.000574  0.007831  0.000753  0.000760  0.001829 -0.001067
chg   0.000373  0.000075  0.000753  0.000744 -0.000149 -0.000045 -0.000298
aac   0.005257  0.001266  0.000760 -0.000149  0.014976  0.007379  0.006475
alm1  0.016670  0.005546  0.001829 -0.000045  0.007379  0.046549  0.036566
alm2  0.006810 -0.003729 -0.001067 -0.000298  0.006475  0.036566  0.043853

In [151]:
# make sure above is correct
pd.DataFrame(np.cov(df[cols].T), columns=cols, index=cols)

           mcg       gvh       lip       chg       aac      alm1      alm2
mcg   0.037882  0.013115  0.002529  0.000373  0.005257  0.016670  0.006810
gvh   0.013115  0.021950  0.000574  0.000075  0.001266  0.005546 -0.003729
lip   0.002529  0.000574  0.007831  0.000753  0.000760  0.001829 -0.001067
chg   0.000373  0.000075  0.000753  0.000744 -0.000149 -0.000045 -0.000298
aac   0.005257  0.001266  0.000760 -0.000149  0.014976  0.007379  0.006475
alm1  0.016670  0.005546  0.001829 -0.000045  0.007379  0.046549  0.036566
alm2  0.006810 -0.003729 -0.001067 -0.000298  0.006475  0.036566  0.043853

In [155]:
# make sure above is correct
np.allclose(cov_matrix(df, cols), df[cols].cov())

True

### Problem 2c  (10 points)

Compute the decomposition of the covariance matrix using singular value decomposition.  Using a python function is definitely the way to go here.

### Problem 2d  (10 points)

Compute the projection of the raw data onto the appropriate two eigenvectors.  Consider which columns should be projected and the normalizations.

### Problem 2e  (10 points)

Plot the projected points such that the 8 different classes can be visually identified.  Be sure to label the classes and axes.  Commont on the quality of the separation of the different classes using PCA.

### Problem 2f (10 points)

The PCA that you have just completed takes each data point and projects it using a weighted sum of features.  One could also do the opposite to map the features as a weighted sum of the data entries.  How could this be done?  What is a potential issue? Describe these in a few sentences (do not code it).

### Problem 3  MDS  (10 points)

For the same data set, repeat 2e using sklearn's Multidimensional scaling algorithm.

### Problem 4a  t-SNE  (5 points)

Repeat 2e using a t-SNE plot with the default settings.

### Problem 4b t-SNE perplexity  (5 points)

Try out a few t-SNE plots by varying the perplexity.  State the best perplexity for separating the 8 different classes and describe your rationale in a sentence or two.  Report the average calculation time for the t-SNE projection over a number of iterations.

### Problem 4c  t-SNE randomization (10 points)

The S of t-SNE means stochastic or random, usually as a function of time.  Explore whether you can reproduce the result in 4b through a second projection and plot.

### Problem 4d t-SNE Barnes-Hut  (5 points)

The default t-SNE method of 4b uses the Barnes-Hut approximation.  Keeping the other parameters the same as 4b, plot the t-SNE result using the exact method.  Which method do you prefer?  Compare the average calculation time for the exact method over a number of iterations.

### How many hours did this homework take?  

This will not affect your grade.  We will be monitoring time spent on homework to be sure that we are not over-burdening students.

### Last step (5 points)

Save this notebook as LastnameFirstnameHW1.ipynb such as MuskElonHW1.ipynb.   Create a pdf of this notebook named similarly.  Submit both the python notebook and the pdf version to the Canvas dropbox.  We require both versions.